body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul{
   display: flex; /*Alinhamento horizontal*/
    justify-content: space-between; /*espaçamento entre os itens*/
    list-style-type: none; /*tirar as marcações da lista*/
    align-items: center;/*alinhado verticalmente ao centro*/
    padding: 16px; /*distancia maior entre itens de cima e de baixo*/
}

a {
    color: white; /*cor do link a*/
    text-decoration: none; /*tirar sublinhado*/
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /*arredondar as bordas*/
    border: 5px solid #46a4f1;
}

.center {
    text-align: center;
}

h1 {
    color: #46a4f1;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

nav a {
    font-size: 20px;
}

nav a:hover {
    color: #5BBE42;
}

.contact-form input{
    width: 100%;
    padding: 8px 0;
    margin: 8px 0;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    width: 100px;
    height: 30px;
}